<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ecgm.app.buleia">
    <!-- Permissões de internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuleiaApp"
        android:requestLegacyExternalStorage="true"
        >
        <activity
            android:name=".activity.CreateNewBuleia"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreenComplete"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".firebase.FirebaseService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UsersActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:noHistory="true" />
    </application>

</manifest>